<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta navme="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<!-- styles -->
<%- include("./stylesheet/styles.ejs") %>
<%- include("./stylesheet/events.ejs") %>



<body>
    
    <!-- header -->
    <%- include('./partials/header.ejs') %>


    <!-- main -->
     <ul id="event-list-container">

    <% for(let i = 0; i < event_data.length; i++) {%>
        <!-- list item -->
     <li class="event-list-item">
            <p class="no-pointer">(Date: <%= event_data[i].createdAt %>)</p>
            <p class="no-pointer event-list-para"><%= event_data[i].name %></p>
            <p class="no-pointer"><%= event_data[i]._id%></p>
     </li>
        <% } %>

    </ul>


    <!-- footer -->
    <%- include('./partials/footer.ejs') %>


    <script src="../javascript/events.js" type="module"></script>
    <script src="../javascript/main.js" type="module"></script>
</body>
</html>