<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta navme="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBL - Events</title>
</head>

<!-- styles -->
<%- include("./stylesheet/styles.ejs") %>
<%- include("./stylesheet/events.ejs") %>



<body>
    <!-- basketball bg -->
    <!-- <div class="no-display" id="custom-bg-wrapper">
        <div id="tile-bg-container">
            <div class="circle translate-left"></div>
            <div class="line line-vert"></div>
            <div class="line line-horiz absolute"></div>
            <div class="circle translate-right"></div>
        </div>
    </div> -->
    <!-- header -->
    <%- include('./partials/header.ejs') %>


    <!-- main -->
     <h1 id="events-title"><%= parameter[0].toUpperCase()+parameter.slice(1,parameter.length) %> Events</h1>
     <ul id="event-list-container">
    

    <% for(let i = 0; i < event_data.length; i++) {%>
        <!-- list item -->

           <% if(parameter=='all') { %>
                <li class="event-list-item">
                <p class="no-pointer bolder">(Date: <%= event_data[i].createdAt %>)</p>
                <p class="no-pointer bolder event-list-para bolder caps"><%= event_data[i].name %></p>
                <p class="no-pointer bolder"><%= event_data[i]._id%></p>
            </li>
            <% } %>

           <% if(parameter=='upcoming') { %>
            <% if(event_data[i].canceled == false && event_data[i].completed == false) {%>
                <li class="event-list-item">
                <p class="no-pointer bolder">(Date: <%= event_data[i].createdAt %>)</p>
                <p class="no-pointer bolder event-list-para bolder caps"><%= event_data[i].name %></p>
                <p class="no-pointer bolder"><%= event_data[i]._id%></p>
                </li>
            <% } %>
                
            <% } %>

           <% if(parameter=='canceled') { %>
                <% if(event_data[i].canceled == true) {%>
                <li class="event-list-item">
                <p class="no-pointer bolder">(Date: <%= event_data[i].createdAt %>)</p>
                <p class="no-pointer bolder event-list-para bolder caps"><%= event_data[i].name %></p>
                <p class="no-pointer bolder"><%= event_data[i]._id%></p>
                </li>
                <% } %>
            <% } %>

           <% if(parameter=='completed') { %>
                <% if(event_data[i].completed == true) {%>
                <li class="event-list-item">
                <p class="no-pointer bolder">(Date: <%= event_data[i].createdAt %>)</p>
                <p class="no-pointer bolder event-list-para bolder caps"><%= event_data[i].name %></p>
                <p class="no-pointer bolder"><%= event_data[i]._id%></p>
                </li>
                <% } %>
            <% } %>
            

        <% } %>

    </ul>


    <!-- footer -->
    <%- include('./partials/footer.ejs') %>


    <script src="../../javascript/events.js" type="module"></script>
    <script src="../../javascript/main.js" type="module"></script>
</body>
</html>