<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta navme="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>

<!-- styles -->
<%- include("./stylesheet/styles.ejs") %>
<%- include("./stylesheet/events.ejs") %>



<body>
    
    <!-- header -->
    <%- include('./partials/header.ejs') %>


    <!-- main -->
        <% for(let i = 0; i < event_data.length; i++) {%>
            <li><%= event_data[i].name %> (Date: <%= event_data[i].createdAt %>)</li>
            <% } %>


    <!-- footer -->
    <%- include('./partials/footer.ejs') %>


    <script src="../javascript/events.js" type="module"></script>
    <script src="../javascript/main.js" type="module"></script>
</body>
</html>