<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
</head>

<!-- styles -->
<%- include('./stylesheet/styles.ejs') %>
<%- include('./stylesheet/auth.ejs') %>

<!-- header -->
<%- include('./partials/header.ejs') %>


<body>
        <% if(admin!==false) { %>
            <h1 id="admin-label">
                ADMIN
            </h1>
            <% } %>
        <h1 id="main-title" class="auth"><%= title %></h1>
    <!-- form -->
    <form action="/auth/login/submit" id="nbl_ad_auth" enctype="multipart/form-data">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username_field" name="username" placeholder="Username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password_field" name="password" placeholder="Password" required>
        </div>
        
        <input type="submit">
    </form>

<%- include('partials/footer.ejs') %>

<script src="../javascript/auth.js" type="module"></script>
</body>
</html>