<nav id="nav">
    <ul id="nav-ul">
        <% navlinks.map((link,index) => { %>
            <!-- clickable links (a tags) -->
            
            <li class="nav-list-item">
                    <% if(link==='Home'){ %>
                        <a id="homeref" href="/"><%= link %></a>
            </li>
                    <% } if(link==='Players'){ %>
            <li class="nav-list-item">
                        <a href="/players"><%= link %></a>
            </li>
                <% } if(link==='Games'){ %>
            <li class="nav-list-item">
                        <a href="/games"><%= link %></a>
            </li>
             <% } if(link==='Events'){ %>
            <li class="nav-list-item">
                        <a href="/events"><%= link %></a>
            </li>
                        <% } if(link==='Contact'){ %>
            <li class="nav-list-item">
                        <a href="#footer"><%= link %></a>
            </li>
                        <% } if(link==='Login'){ %>
            <li class="nav-list-item">
                    <a href="/auth/login"><%= link %></a>
            </li>
                        <% } if(link==='Signup'){ %>
            <li class="nav-list-item">
                        <a href="/auth/signup"><%= link %></a>
            </li>   
                        <% } %>
                
        <% }) %>
    </ul>
</nav>
