<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta navme="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../stylesheet/styles.css"> -->
    <title>NBL</title>
</head>

<!-- styles -->
<%- include("../stylesheet/styles.ejs") %>
<%- include("../stylesheet/read_event.ejs") %>


<body>
    
    <!-- header -->
    <%- include('./header.ejs') %>

    <!-- arrow container -->
    <div id="arrow-container">
        <img src="../../media/png/leftarrow.png" alt="" class="arrow-img img-left">
        <img src="../../media/png/rightarrow.png" alt="" class="arrow-img img-right">
    </div>

    <!-- main -->
    <div id="event-container-read" class="">
        <div id="event-nomenclature-container">
            <div>
                <p class="event-label-elem event-label-name">Event Name</p>
                <h1 id="event-name" class=""><%= event_data['name']%></h1>
            </div>
            <div>
                <p class="event-label-elem">Event Description</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-description"><%= event_data['description']%></p>
            </div>
            <div>
                <p class="event-label-elem">Event Created At</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-createdAt"><%= event_data['createdAt'] %></p>
            </div>
            <div>
                <p class="event-label-elem">Updated At</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['updatedAt']||'Event has not been updated'%></p>
            </div>
            <div>
                <p class="event-label-elem">Start Date</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['eventDetails']['start_date']||'Event has not been updated'%></p>
            </div>

            <div>
                <p class="event-label-elem">Start Time</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['eventDetails']['start_time']||'Event has not been updated'%></p>
            </div>
            
            <div>
                <p class="event-label-elem">End Date</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['eventDetails']['end_date']||'Event has not been updated'%></p>
            </div>
            
            <div>
                <p class="event-label-elem">End Time</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['eventDetails']['end_time']||'Event has not been updated'%></p>
            </div>
            
            <div>
                <p class="event-label-elem">Completed</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['completed']||false%></p>
            </div>
            
            <div>
                <p class="event-label-elem">Rescheduled</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['rescheduled']||false%></p>
            </div>
            
            <div>
                <p class="event-label-elem">Canceled</p>
                <p class="border-bottom-blk padding-top-5rem width-100" id="event-updatedAt"><%= event_data['canceled']||false%></p>
            </div>

        </div>

    </div>

    
    <!-- footer -->
    <%- include('./footer.ejs') %>


    <!-- <script src="../../javascript/main.js" type="module"></script> -->
    <script src="../../javascript/events.js" type="module"></script>
</body>
</html>
