<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta navme="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../stylesheet/styles.css"> -->
    <title>NBL</title>
</head>

<!-- styles -->
<%- include("../stylesheet/styles.ejs") %>
<%- include("../stylesheet/read_event.ejs") %>


<body>
    
    <!-- header -->
    <%- include('./header.ejs') %>


    <!-- main -->
    <div id="event-container-read" class="">
        <div id="event-nomenclature-container">
            <p class="event-label-elem">Event Name</p>
            <h1 id="event-name"><%= event_data['name']%></h1>
            <p class="event-label-elem">Event Description</p>
            <p id="event-description"><%= event_data['description']%></p>
            <p class="event-label-elem">Event Created At</p>
            <p id="event-createdAt"><%= event_data['createdAt'] %></p>
            <p class="event-label-elem">Updated At</p>
            <p id="event-updatedAt"><%= event_data['updatedAt']||'Event has not been updated'%></p>
            <p class="event-label-elem">Start Date</p>
            <p id="event-updatedAt"><%= event_data['eventDetails']['start_date']||'Event has not been updated'%></p>
            <p class="event-label-elem">Start Time</p>
            <p id="event-updatedAt"><%= event_data['eventDetails']['start_time']||'Event has not been updated'%></p>
            <p class="event-label-elem">End Date</p>
            <p id="event-updatedAt"><%= event_data['eventDetails']['end_date']||'Event has not been updated'%></p>
            <p class="event-label-elem">End Time</p>
            <p id="event-updatedAt"><%= event_data['eventDetails']['end_time']||'Event has not been updated'%></p>

        </div>

        <div id="event-details-container">
            <h1>details test</h1>   
        </div>
    </div>

    
    <!-- footer -->
    <%- include('./footer.ejs') %>


    <script src="../../javascript/main.js" type="module"></script>
</body>
</html>
